@model PRN231_Group7.Assignment2.UI.Models.Authentication.RegisterModel;
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var publishers = ViewBag.Publishers;
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto rounded border p-4">
            <h1 class="my-3 text-center">Register</h1>

            <form method="post">
                <div class="form-group first mb-4">
                    <label>Email</label>
                    <input type="text" class="form-control" asp-for="EmailAddress" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>

                <div class="form-group first mb-4">
                    <label>Password</label>
                    <input type="text" class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group first mb-4">
                    <label>First Name</label>
                    <input type="text" class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group first mb-4">
                    <label>Last Name</label>
                    <input type="text" class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                
                <div class="form-group first mb-4">
                    <label>Phone</label>
                    <input type="text" class="form-control" asp-for="Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-group first mb-4">
                    <label>Phone</label>
                    <input type="text" class="form-control" asp-for="Source" />
                    <span asp-validation-for="Source" class="text-danger"></span>
                </div>

                <div class="form-group first mb-4">
                    <label>Phone</label>
                    <input type="datetime-local" class="form-control" asp-for="HireDate" />
                    <span asp-validation-for="HireDate" class="text-danger"></span>
                </div>

                <div class="form-group first mb-4">
                    <label>Publisher</label>
                    <select class="form-select" asp-for="PublisherId" id="publisherSelect">
                        <option value="">Select Publisher</option>
                        @foreach (var publisher in publishers)
                        {
                            <option value="@publisher.Id">@publisher.PublisherName</option>
                        }
                    </select>
                    <span asp-validation-for="PublisherId" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-center mb-4">
                    <input type="submit" value="Register" class="btn btn-block btn-secondary w-25">
                </div>
            </form>

            <div class="d-flex mb-5 justify-content-center align-items-center">
                <span>Already have an account?</span><span><a href="login" class="create-account mx-2">Login</a></span>
            </div>
        </div>

    </div>
</div>

