

<header class="p-0">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-2 border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://www.sc2020expo.com/wp-content/uploads/2020/03/cropped-neve-book-shop-icon.png" width="50" height="50" asp-append-version="true" />
            </a>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1 justify-content-end fw-bold">
                    @* @if (TempData["UserRole"] != null && TempData["UserRole"].ToString() == "Customer") *@
                    @* { *@
                        <li class="nav-item px-3">
                            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Register">Register</a>
                        </li>
                    @* } *@
                </ul>
            </div>
        </div>
    </nav>
</header>