<aside class="sidebar">
    <h3 class="text-center mt-5">Book Store</h3>

    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Books" asp-action="Index">Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
        </li>
    </ul>
</aside>