@model PRN231_Group7.Assignment2.UI.Models.Publisher.PublisherRequestModel.UpdatePublisher

@{
    ViewData["Title"] = "Update Publisher";
}


@if (Model is not null)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto rounded border p-3">
                <h1 class="mt-3 mb-5 text-center">Update Publisher</h1>

                <form method="post">
                    <input type="hidden" class="form-control" asp-for="Id" />

                    <div class="row mb-3">
                        <label class="form-label col-sm-4">Publisher Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" asp-for="PublisherName" />
                            <span asp-validation-for="PublisherName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="form-label col-sm-4">City</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" asp-for="City" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="form-label col-sm-4">State</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" asp-for="State" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="form-label col-sm-4">Country</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" asp-for="Country" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="form-label col-sm-4"></label>
                        <div class="row col-sm-8 m-0 justify-content-between">
                            <button type="submit" class="btn btn-secondary col-sm-5">Save</button>
                            <a href="/Publishers/Index" class="btn btn-secondary col-sm-5">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
}


<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>

